.biggest-lottery .biggest-lottery-winner ,.our-lottery-winner{
    background: #F30000;
    padding: 10px 0px 10px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
}

.biggest-lottery  .biggest-lottery-wrapper .biggest-lottery-title {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 26px;
}


.biggest-lottery  .biggest-lottery-wrapper .biggest-lottery-title .won{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;;
}

.biggest-lottery .biggest-lottery-wrapper .biggest-lottery-title .biggest-lottery-text{
    color: #0061A3;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 22px;
}

.biggest-lottery  .biggest-lottery-wrapper  .won{
    color: #000000;
}

.biggest-lottery .biggest-lottery-right .card{
    max-width: 251px;
}

.biggest-lottery .biggest-lottery-wrapper .biggest-lottery-right .card .card-body .read{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    text-decoration-line: underline;
    color: #0061A3;
}

.biggest-lottery .biggest-lottery-left .biggest-lottery-description{
    display: flex;
    align-items: center;
    justify-content: center;
}
.biggest-lottery .biggest-lottery-left .biggest-lottery-description .biggest-lottery-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
}

#date_loteriya{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    text-align:center;
    color: #000000;
}

.biggest-lottery .biggest-lottery-left ul{
   display:inline-flex;
   flex-direction: row;
   gap: 5px;
}
.biggest-lottery .biggest-lottery-left li{
    border-radius: 50%;
    background-color: red;
    color: white;
    padding: 0px 4px 1px;
    font-size: small;
}
.biggest-lottery .biggest-lottery-wrapper{
    outline:1px solid rgb(228, 211, 211);
    padding: 19px 21px 18px;
}

.biggest-lottery .biggest-lottery-wrapper .card-btn{
    border-radius: 8px;
    padding: 10px 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background: #F7D300;
    text-align: center;
    color: #000000;
    margin-top: 60px;
}


.biggest-lottery .biggest-lottery-winner h3 ,.our-lottery-winner h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.biggest-lottery .biggest-lottery-wrapper .biggest-lottery-left .biggest-lottery-winner-image{
   width:100%;
   height:100%;
}
.biggest-lottery-right .card .card-body .card-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.biggest-lottery-right .card .card-body .card-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}


/*   OUR LATEST WINNERS  */


.our-lottery-wrapper .card {
    flex-direction: column;
}

.our-lottery-wrapper .card .card-body{
    padding:8px;
}

.our-lottery-wrapper .card .card-body .card-title,
.card .card-body span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
}

.our-lottery-wrapper .card .card-body .card-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 22px;
    color: #13902A;
}

.our-lottery-wrapper .card .card-body .card_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
    color: #000000;
    display: inline-block;
}


.our-lottery-wrapper .card.card-wrapper {
    flex-direction: row;
}

.our-lottery-wrapper .card.card-wrapper .card-img {
    width: 75.32px;
    height: 58px;
    margin: 10px;
}

.our-lottery-wrapper .card.card-wrapper .card-body {
    padding: 0px;
}

.our-lottery-wrapper .card.card-wrapper .card-body .card-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    margin-top: 13px;
}

.our-lottery-wrapper .card.card-wrapper .card-body .card-subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    position: absolute;
    bottom: 25px;
    left: 120px;
}

.our-lottery-wrapper .card.card-wrapper .germ_flag {
    position: absolute;
    bottom: 25px;
}

.our-lottery-wrapper .card.card-wrapper .card-body .card-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #5F5F5F;
    position: absolute;
    bottom: 4px;
}
