.card-bottom .card .card-money{
    display: inline-flex;
}
.card-bottom .card .card-money img{
    margin: 0px 6px 17px 0px;
}

.card-bottom .card .card-footer .card-btn {
    border-radius: 8px;
    padding: 6px 52px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background: #F7D300;
    text-align: center;
    color: #000000;
}


.card-bottom .card {
    height: 150px;
    background: #FFFFFF;
    border-radius: 8px;
}

.card-bottom  .card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.card-bottom .card-body-image {
    width: 80px;
    height: 141px;
    margin-left: 10px;
}

.card-bottom  .card-body-text {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 10px;
}

.card-bottom  .card-body-text-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
}

.card-bottom .card-body-text-price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 22px;
    color: #13902A;
}

.card-bottom .card-footer {
    width: 100%;
    height: 40px;
    background: #0061A3;
    mix-blend-mode: normal;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-bottom .card-footer-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin-left: 10px;
}

.card-bottom .card-footer-button-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #000000;
}

