.product_card .play_upcoming_lotteries{
    background: #F30000;
    padding: 10px 0px 10px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
}
.product_card .play_upcoming_lotteries h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}


.product_card .card{
    width: 208px;
    height: 270px;
}

.product_card .card-body{
    padding:0;
    margin:0;
}

.product_card .card .card-money{
    display: inline-flex;
}
.product_card .card .card-money img{
    margin: 0px 6px 17px 0px;
}

.product_card .card .product-rating{
    display: inline;
    position: absolute;
    right: 10px;
    top: 3px;
    color: #F7D300;
}

.product_card .card .card-body{
    flex-direction: column;
}

.product_card .card .card-body .card-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 10px;
}


.product_card .card .card-body .card-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 10px;
}


.product_card .card .card-img-top{
    align-self: center;
    margin-top: 15px;
    width: 95px;
    height: 93px;
    margin-bottom: 10px;
}

.product_card .card .card-body .card-btn{
    border-radius: 8px;
    padding: 7px 52px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background: #F7D300;
    text-align: center;
    color: #000000;
    margin-top: 10px;
}

.product_card .card .card-body .card-link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #0061A3; 
}



