footer .sec-link .useful_links ul li{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}

footer .sec-link .smartwinner_text .about
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #000000;
}

footer .sec-link .smartwinner_text .address{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #000000;
}

footer .sec-link .payment ul{
  flex-direction: row;
}
footer .sec-link .payment ul li{
    align-items:flex-start;
}

footer .social-media .list-inline li{
    width: 25px;
    display: inline-block;
    position: relative;
    height: 25px;
    border-radius: 60%;
    align-items: center;
}

footer .social-media .list-inline .messenger-facebook {
     background: #1877F2;
 }

footer .social-media .list-inline .twitter {
     background: #1DA1F3;
 }

 footer .social-media .list-inline li a {
     position: absolute;
     left: 5px;
     top: 1px;
 }

 footer .social-media .list-inline li a i {
     color: #fff;
 }

footer .whatsapp a{
    width: 35px;
    display: inline-block;
    position: relative;
    height: 35px;
    border-radius: 60%;
    align-items: center;
    background: #25D366;
}

footer .whatsapp a i{
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
}

footer .whatsapp p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #5F5F5F;
}

footer{
    position: relative;
    margin-top: 240px;
}
footer .footer-background{
    background-image: url("/images/footer/Untitled.svg");
    width: 100%;
    height: 100%;
    bottom: 156px;
    right: -22px;
    opacity: 0.7;
    position: absolute;
    background-repeat: no-repeat
}


