header .header-top .header-top-right .logo img{
    width:279px;
    height:60px;
}

header .header-top .nav-item {
   list-style:none;
}

header .header-top .header-top-left .header-social-media .social-media-items li{
    width: 25px;
    display: inline-block;
    position: relative;
    height: 25px;
    border-radius: 60%;
    align-items: center; 
}

header .header-top .header-top-left .header-social-media .social-media-items .messenger-facebook{
    background: #1877F2;
}

header .header-top .header-top-left .header-social-media .social-media-items .whatsapp{
    background: #25D366;
}

header .header-top .header-top-left .header-social-media .social-media-items .twitter{
    background: #1DA1F3;
}

header .header-top .header-top-left .header-social-media .social-media-items li a{
    position: absolute;
    left: 5px;
    top: 1px;
}

header .header-top .header-top-left .header-social-media .social-media-items li a i{
    color: #fff;
}

header .header-bottom nav .nav__list{
    position: relative;
    list-style: none;
    background: #F30000;
    border-radius: 8px;
    height: 34px;
    display: flex;
    padding: 0px;
    align-items: center;
}

header .header-bottom nav .nav__list-item{
  margin: 5px;
}

header .header-bottom nav .nav__list .nav__list-item a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFF;
    padding: 4px 23px 5px;
    border-right: 2px solid #FFFF;
}

header .header-bottom nav .nav__list .nav__list-item a:hover{
 text-decoration: none;
}

header .header-bottom nav .nav__list .nav__list-item a.active{
    text-decoration: underline;
}

header .header-bottom nav .nav__list .account{
    background: #0061A3!important;
    position: absolute;
    right: -5px;
    border-radius: 8px;
    width: 178px;
    height: 34px;
    text-align: center;
   }

   header .header-bottom nav .nav__list .account a{
     border-right: 0px;
     padding: 0px;
     position: relative;
     top:7px;
   }


